@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@font-face {
  font-family: 'Microgramma';
  src:url('./fonts/Microgramma D Extended Bold.otf');}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Brand-name {
  font-family: 'Microgramma', sans-serif;
  text-align: left;
  color: #61dafb;
  text-shadow: -4px 2px black;
  text-decoration:none;
}

.one {
  color: pink;
}

.two {
  color: purple;
}
.three {
  color: yellow;
}
.logo {
  width: 10%;
  height: auto;
}